:root{

    --font-primary-color:white;
    --font-second-color:#8CC084;

    --background-primary-color:#067BC2;
    --background-second-color:#84BCDA;
    --background-three-color: #8CC084;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(../IMG/fondo-medico.jpg);
    background-position: center;
    background-size: contain;
}

/*  header  */
.header{
    height: 70px;
    width: 100%;
    padding: 0 2.5rem;


    /* background-color:  var(--background-primary-color); */
    background-color: #0067b1;
    color: var(--font-primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo:hover{
    color: var(--font-second-color) ;
    text-shadow: 3px 3px 3px black;
}
.header__content{
    display: flex;
    list-style: none;
    gap: 3rem;
}
.button{
    color: var(--font-primary-color);
    border: 1px solid var(--font-primary-color);
    border-radius: 10px;
    text-decoration: none;
    padding: 1rem;

    background-color: transparent;

}
.button:hover{
    background-color: #FF785A;
    border: none;
    transition: .2s ease-in;
}
.header__button--main{
    color: white;
    border: none;
    background-color: var(--background-three-color);
}

/* contenido principal */
.main{
    display: flex;
    width: 100%;
    height: 100vh;
}
.section{
    /* background-color: orange; */
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.section__target{
    color: var(--font-primary-color);
    background-color: rgba(6, 122, 194, 0.8);
    
    /* border: 2px solid rgba(6, 122, 194, 0.2); */
    border: rgba(255, 255, 255, 0.6) 2px solid;

    backdrop-filter: blur(20px);

    padding: 2rem;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    
    gap: 1rem;

    width: 500px;
}
.form{
    border: rgba(255, 255, 255, 0.5) 2px solid;
    background-color: rgba(255, 255, 255, 0.8) ;
    /* background-color: transparent; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 20px;
}
.input-box{
   
    width: 100%;
    height: 50px;
    position: relative;
}
.input{
    width: 100%;
    height: 100%;
    border: 0;
    text-align: center;

    outline: 0;

    border: #067BC2 2px solid;
    border-radius: 20px;

    /* background: white; */
    background-color: transparent;
}
.input--special{
    cursor: pointer;
    /* color: #0067b1; */
    color: #067BC2;
    font-weight: bold;
    font-style: italic;
    font-size: .9rem;    
}

.input::placeholder{
    color: #067BC2;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
}
input::selection{
    color: white;
  
}
.icon{
    position: absolute;
    font-size: 20px;
    color: #067BC2;
    /* right: 60%; */
    top: 30%;
    right: 8%;
}
.btn{
    /* width: 100%; */
    border: #067BC2 2px solid;
    border-radius: 10px;
    padding: 1rem;
    color: #067BC2;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.btn:hover{
    background-color:#067BC2;
    color: white;
}
.title{
    text-align: center;
    font-size: 2rem;
    color: white;
    text-shadow: 3px 3px 3px green;
}
.line{
    width: 100%;
    height: 2px;
    background-color: white;
    border: none;
}
/* seccion dos  */
.figure{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: red;
    overflow: hidden;
    /* border: black solid 8px ; */
}
.figure__img{
    width: 100%;
    height: 100%; 
}
.main-title{
    position: absolute;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 3px 3px 3px #8CC084,  4px 4px 4px #0067b1;
}
